* {
    font-family: 'Inter', sans-serif;
}

#validation {
    display: block;
    margin: auto;
    text-align: center;
    max-width: 120px;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 0.5rem;
    background-color: rgb(109, 109, 109);
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 60px;
}

.noVisibilty {
    display: none;
    flex-direction: column;
}

.visibility {
    display: flex !important;
    flex-direction: column;
}

#btob {
    margin-top: 10px;
    margin-bottom: 20px;
}

#delivery {
    display: flex;
    flex-direction: column;
}

.shipSubInfo,
#identificationContainer {
    display: flex;
    gap: 23px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.subInfo,
.identification {
    display: flex;
    flex-direction: column;
}

.subInfo input,
.identification input {
    width: 125px;
    height: 40px;
    border-radius: 6px;
    border: solid black 1px;
    margin-top: 6px;
}

#ship,
#facturationAdresse,
#telephone,
#nomPro,
#siret {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 280px;
    height: 40px;
    border-radius: 6px;
    border: solid black 1px;
    padding: 6px;
}

#siret {
    margin-top: 10px;
}

.similary {
    margin-top: 20px;
    margin-bottom: 20px;
}




label {
    text-align: start;
}

#error {
    margin-bottom: 30px;
    text-align: center;
    display: block;
    color: red;
    font-weight: 900;
    font-size: 1.1em;
}

.invalid {
    border: 2px solid red !important;
}