* {
    font-family: 'Inter', sans-serif;
}

#paiementPage{
    display: none;
}

.container {
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#titlePage{
    align-self: baseline;
    margin-left: 10vw;
}

#labelNumber {
    display: block;
    margin-bottom: 10px;
}

#cardNumber{
    margin-bottom: 10px;
    padding: 10px;
    padding-right: 60px;
}

.cardMoreInfoContainer{
    display: flex;
}


.cardMoreInfo{
    margin: 0;
}

.cardMoreInfo input{
    width: 100px;
    padding: 6px;
    margin-right: 10px;
}

#cvc{
    margin-right: 0;
}

.cardMoreInfo label{
    display: block;
    margin-bottom: 10px;
}

.containerProduct {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


#imgProduct {
    max-width: 80px;
    max-height: 80px;
    display: block;
    margin-right: 10px;
}

.info {
    display: flex;
    align-items: center;
    gap: 60px;
}

.quantity {
    display: flex;
    align-items: center;
    gap: 60px;
}

.quantityContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

#quantityProduct {
    background: black;
    border: solid black 1px;
    border-radius: 6px;
    color: white;
    padding: 2px;
    padding-right: 6px;
    padding-left: 6px;
    margin-left: 2px;
}

p{
    text-align: center;
}

#confirmButton {
    display: block;
    margin: auto;
    padding: 16px;
    padding-left: 60px;
    padding-right: 60px;
    border: solid black 1px;
    border-radius: 6px;
    background: black;
    color: #fff;
    font-weight: 600;
}



@media screen and (max-width : 348px) {
    .info{
        gap: 20px;
    }
    .quantity{
        gap: 20px;
    }
}

@media screen and (min-width : 768px) {
    .container{
        margin-left: 10px;
        margin-right: 10px;
    }
    main{
        display: flex !important;
        justify-content: center;
        align-items: center;
    }
    #titlePage{
        margin-left: 0;
    }
    #rappelCommande{
        margin-left: 60px;
    }
}

#rappelCommande h4{
    align-self: center;
}

#rappelCommande{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}