main {
    padding: 20px;
    font-family: 'Inter', sans-serif;
    margin-left: auto;
    margin-right: auto;
}

#titlePage {
    margin-top: 20px;
    padding-left: 20vw;
}

.containerProduct {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}

/* .containerInfo{
    display: flex;
} */

#imgProduct {
    max-width: 80px;
    max-height: 80px;
    display: block;
    margin-right: 10px;
}

.info {
    display: flex;
    align-items: center;
    gap: 60px;
    justify-content: space-between;
}

.quantity {
    display: flex;
    align-items: center;
    gap: 60px;
    justify-content: space-between;
}

.quantityContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}



.delete {
    color: #000;
}

#quantityProduct {
    background: black;
    border: solid black 1px;
    border-radius: 6px;
    color: white;
    padding: 2px;
    padding-right: 6px;
    padding-left: 6px;
    margin-left: 2px;
}

.sousTotal {
    margin-top: 20px;
    padding-left: 20vw;
}

.promo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.promo p {
    text-decoration: underline;
}

#addPromo {
    padding: 20px;
    border-radius: 6px;
    border: solid black 1px;
    text-align: center;
}

#horsTaxe {
    text-align: center;
    text-decoration: line-through;
    font-weight: 600;
    margin: 0;
    margin-top: 20px;
}

#ttc {
    text-align: center;
    font-weight: 600;
    margin: 0;
    margin-top: 2px;
    margin-bottom: 13px;
}

#facturation {
    display: block;
    margin: auto;
    padding: 16px;
    padding-left: 60px;
    padding-right: 60px;
    border: solid black 1px;
    border-radius: 6px;
    background: black;
    color: #fff;
    font-weight: 600;
}

#emptyCart{
   text-align: center;
   display: block;
   margin-top: 60px;
   font-weight: 900; 
}

@media screen and (min-width : 768px) {
    #titlePage {
        /* position: fixed;
        left: 30%;
        top: 20%;
        margin-top: 0; */
        padding-left: 30vw;
    }
    
    .sousTotal {
        /* position: fixed;
        left: 30%; */
        padding-left: 30vw;
    }

    
    #imgProduct{
        max-width: 120px;
        max-height: 120px;
        padding-right: 40px;
    }
}

@media screen and (max-width : 460px) {
    #titlePage{
        padding-left: 10vw;
    }
    .sousTotal{
        padding-left: 10vw;
    }
}

@media screen and (max-width : 348px) {
    .info{
        gap: 20px;
    }
    .quantity{
        gap: 20px;
    }
}