* {
    font-family: 'Inter', sans-serif;
}

.navigation {
    display: none;
}

.produitContainer {
    padding: 20px;
}

.produitData {
    display: flex;
    align-items: center;
    gap: 120px;
}

.produitData span {
    font-size: 1.3em;
    margin: 0;
}

.produitData h2 {
    font-family: 'Inter', sans-serif;
    margin: 0;
}

#imgProduit {
    width: 210px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}


#exemplaires {
    font-weight: 900;
    font-family: 'Inter', sans-serif;
}

#ajoutPanier {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 6px;
    background: #000;
    font-family: 'Inter', sans-serif;
    font-size: 1.2em;
    font-weight: 400;
    color: #fff;
}

#produitQuantity {
    background-color: #000;
    color: #fff;
    width: 60px;
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    width: 200px !important;
}

#QuantityNumber {
    background: #000;
    color: #fff;
    padding: 3px;
}

@media screen and (min-width : 768px) {
    .navigation {
        display: block;
        margin-top: 100px;
        padding-left: 220px;

    }

    .navigation a {
        color: #000;
    }

    .produitContainer {
        display: flex;
        align-items: start;
        justify-content: center;
        gap: 60px;
        max-width: 357px;
        margin: auto;
        margin-top: 40px;
    }

    #imgProduit {
        min-width: 300px;
    }
}



#modal {
    background-color: #e7e7e789;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

#modalContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fefefe;
    margin: auto;
    padding: 10px;
    padding-bottom: 16px;
    border: 1px solid #888;
    width: 280px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

#modalMessage{
    font-size: 1.5em;
    font-weight: 600;
}

#imgModal{
    width: 50%;
}

#ButtonGoCart{
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 0.5rem;
    background-color: rgb(109, 109, 109);
    color: #fff;
    text-decoration: none;
}

#modalName{
    font-size: 1em;
    font-weight: 600;
}