* {
    font-family: 'Inter', sans-serif;
}

#validation {
    display: block;
    margin: auto;
    padding: 16px;
    padding-left: 60px;
    padding-right: 60px;
    border: solid black 1px;
    border-radius: 6px;
    background: black;
    color: #fff;
    font-weight: 600;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 60px;
}

#pro {
    display: none;
    flex-direction: column;
}

#btob{
    margin-top: 10px;
    margin-bottom: 20px;
}

.delivery{
    display: flex;
    flex-direction: column;
}

.shipSubInfo,
#identificationContainer {
    display: flex;
    gap: 23px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.subInfo,
.identification {
    display: flex;
    flex-direction: column;
}

.subInfo input,
.identification input {
    width: 125px;
    height: 40px;
    border-radius: 6px;
    border: solid black 1px;
    margin-top: 6px;
}

#ship,
#facturationAdresse,
#telephone,
#nomPro,
#siret {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 280px;
    height: 40px;
    border-radius: 6px;
    border: solid black 1px;
    padding: 6px;
}

#siret{
    margin-top: 10px;
}

.similary {
    margin-top: 20px;
    margin-bottom: 20px;
}

#facturation {
    display: none;
    flex-direction: column;
}

label {
    text-align: start;
}